$primary-color: #27ae60;
$loading-color: #d3a730;
$white: #fafafa;
$grey: #f6f6f6;

h1, h2, h3, h4, h5 {
	font-family: 'Lato', sans-serif;
	margin: 0;
}

button, .button {
	all: unset;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	border: 1px solid $primary-color;
	border-radius: 3px;
	padding: 2px 8px;
	font-size: 14px;
	color: $primary-color;
	user-select: none;

	&:active {
		color: $white;
		background-color: $primary-color;
	}

	&:disabled,
	&.disabled {
		border: 1px solid darken($grey, 10%);
		color: darken($grey, 10%);
		cursor: default;
		pointer-events: none;

		svg {
			stroke: darken($grey, 10%);
		}
	}

	&:not(:first-child) {
		margin-left: 18px;
	}
}

button.expand-collapse,
button.page-control {
	padding: 0;
	display: block;

	svg {
		display: block;
	}

	&:active {
		svg {
			stroke: $white;
		}
	}
}

input[type="text"], input[type="password"], textarea {
	all: unset;
	width: 200px;
	background-color: $white;
	border: 1px solid darken($grey, 20%);
	margin-right: 18px;
	border-radius: 4px;
	padding: 4px;
}

.module-status {
	input {
		background-color: lighten($white, 20%);
		font-size: 14px;
		padding: 2px 8px;
	}
}

p, th, td, li, label, input[type="text"], textarea {
	font-family: 'Roboto', sans-serif;
	color: #222;
	margin: 0;
}

body {
	margin: 0;
}

.layout {
	max-width: 1024px;
	width: 100%;
	margin: auto;
	padding: 0 12px;
	box-sizing: border-box;
}

.header {
	height: 64px;
	background-color: $primary-color;
	color: $white;
	padding: 12px 18px;
	width: 100%;
	box-sizing: border-box;
}

.body {
	height: auto;
	width: 100%;
	padding: 12px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;
}

.body-content {
	flex: 1;
	margin-right: 12px;
	height: auto;
	display: flex;
	flex-direction: column;
}

.sign-in {
	margin-top: 12px;
}

.sidebar {
	width: 160px;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		
		.control-option {
			padding: 4px;
			border-radius: 3px;
			user-select: none;
			margin-bottom: 8px;

			a {
				all: unset;
			}

			&.active {
				background-color: $primary-color;
				color: $white;
			}
		}
	}
}

.module {
	background-color: $grey;
	border-radius: 3px;
	
	.module-inner {
		max-height: 100%;
	}
	
	.module-heading {
		background-color: $primary-color;
		color: $white;
		border-radius: 3px 3px 0 0;
		padding: 8px;
		height: 38px;
		box-sizing: border-box;
	}

	.module-status {
		display: flex;
		padding: 8px;
		align-items: center;
		height: 38px;

		.button-container {
			justify-self: flex-end;
			margin-left: auto;
		}


		p {
			margin-right: 24px;
		}

		.completed {
			color: $primary-color;
		}

		.in-progress {
			color: $loading-color;
		}
	}
	
	.module-content {
		display: block;
		padding: 8px;
		height: auto;
	}
}

.table-controls {
	display: flex;
	padding: 0 0 8px;
	align-items: center;
	height: 22px;
}

.product-table {
	height: 464px;
	overflow-y: scroll;
	display: block;

	thead, tbody {
		width: 100%;
    display: inline-block;
	}

	tr {
		display: flex;
		padding: 4px 0;
		border-bottom: 1px solid #dedede;
	}

	td, th {
		flex: 1;
		display: flex;
		box-sizing: border-box;

		&.selected {
			max-width: 36px;
			padding-top: 12px;
			padding-left: 8px;
		}

		&.price,
		&.size {
			max-width: 72px;
		}

		&.title {
			min-width: 176px;

			&+.description {
				min-width: 176px;
			}
		}

		&.images {
			max-width: 200px;
			flex-wrap: wrap;
		}

		&.id {
			flex: 2;
			padding: 0;
		}

		&.start,
		&.end {
			flex: 3;
			padding: 0;
		}

		&.expand {
			padding: 0;
		}
	}

	td {
		padding-right: 28px;

		p {
			font-size: 15px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			max-height: 40px;
			height: auto;
			transition: all .2s ease .3s;

			&:hover {
				-webkit-line-clamp: 100;
				max-height: 374px;
			}
		}

		img {
			display: block;
			width: 36px;
			height: 36px;
			margin-right: 6px;
			border-radius: 4px;
			transition: all .2s ease;
			transition-delay: .2s;

			&:active {
				width: 100%;
				height: 172px;
				margin: 6px 6px 6px 0;
			}
		}
	}

	th {
		&.selected {
			padding: 2px 0 0 8px;
		}
	}
}

.product-handler {
	.handler-controls {
		display: flex;
		margin: 8px 0 12px;

		&>*:not(first-child) {
			margin-right: 12px;
		}
	}

	.handler-content {
		.product-editor {
			display: flex;

			.images {
				flex: 1;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				margin-right: 18px;
			
				img {
					width: 48%;
					margin-bottom: 4%;
					border-radius: 8px;
				}
			}

			.data {
				flex: 2;
				display: flex;
				height: 280px;

				.column {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					flex-wrap: wrap;

					&:not(last-child) {
						margin-right: 18px;
					}
				}

				input, textarea {
					margin: 8px 0 16px;
				}

				textarea {
					flex: 1;
				}
			}
		}
	}
}

.module.sign-in {
	width: 226px;
	margin: 12px auto;

	.module-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		* {
			margin: 4px 0;
			width: 100%;
			box-sizing: border-box;
		}

		.button, label {
			text-align: center;
		}
	}
}